@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin: 0;
    }

    .filme-principal .container{
        margin-left: 20px;
        width: 80%;
    }

    .botao{
        margin-top: 10px;

    }
    .filme-principal .titulo{
        font-size: 30px;    
    }
}

@media screen and (min-width: 1000px){
    .filme-principal .descricao{
       width: 60%;
    }
}